<%- include('templates/header'); %>
<h1>Testing the drawings :)</h1>

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.4/p5.min.js"></script>
<script src="js/game.js"></script>
<%- include('templates/footer'); %>
